<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/code-slash.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title> Fernando Kobata</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/Untitled.jpg" alt="Foto Fernando">
            <h1>Fernando Kobata</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/fernando-lucas-kobata-1214abb3/">
                    <i class="bi bi-linkedin"></i> </a>
                <a target="_blank" href="https://github.com/fkobata">
                    <i class="bi bi-github"></i> </a>
                <a target="_blank" href="https://www.instagram.com/f_raoni_20/">
                    <i class="bi bi-instagram"></i> </a>
                <a target="_blank"
                    href="https://wa.me/+5512996394042?text=Olá, gostaria de conversar sobre serviço FreeLance de TI">
                    <i class="bi bi-whatsapp"></i> </a>
            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-card-checklist"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope-at"></i> Contatos</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Fernando Kobata</h2>
                <span id="subtitle" class="text-white text-shadow">Analista de sistemas Sênior</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>
        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>
                        I am graduating in IT Management, more 11 years experience, but I work strongly in the area of
                        development, business with client, implementation of solution, ageis methodologies, certified in
                        SAP
                        ABAP, and programming C#, skill in SAP net MVC Core, SQL Server and Oracle, currently in the SAP
                        system I am functional quality module (QM), support and solution leader of critical applications
                        for
                        the business.My recent duties include: Support to all embraer's worldwide units (USA, FR,
                        CH,SIN)
                        Manufacturing or any process, support to business areas in critical incidents.
                        Relevant Projects:
                        -Upgrade SAP 4.7 to Hanna, implementation and migration of quality processes;
                        -Exchange of version of SAP satellite systems in Java and Asp Net;
                        -Implementation of automation machine for Logistic AutoStore (WareHouse Automation);
                        -Integration Saab Embraer for aircraft purchased from Brazil with Contracts Saab.
                        Over 10 years of experience in customer support and business area, leveraging the business.
                        Skills: SAP Integration, Java, Oracle and SQL Database, Asp Net MVC,
                        Technical Certifications: SAP ABAP, C#
                    </p>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" src="../static/img/Untitled.jpg" alt="Foto Fernando"
                            data-anime="left">
                    </div>
                    <div class="col-md-8" data-anime="right">
                        <h3>Analista de Sistema</h3>
                        <p>
                            Assigned responsibilities for maintaining and controlling business areas,
                            ensuring system integrity, availability, demand analysis, cost estimates,
                            system architectures, SAP and non-SAP systems spec, OFM and PI integrators,
                            support for C# systems platforms , Python, WEB, Java and the entire business process,
                            with and without SAP interface.
                        </p>
                        <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Born: <span class="fw-lighter"> 18 de Julho 1985</span>
                                    </li>
                                    <li class="list-group-item">
                                        Idade: <span class="fw-lighter">38 Anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        Cidade: <span class="fw-lighter">Taubaté - SP</span>
                                    </li>
                                    <li class="list-group-item">
                                        Estado: <span class="fw-lighter">São Paulo</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Hobby: <span class="fw-lighter">Artes / Academia</span>
                                    </li>
                                    <li class="list-group-item">
                                        Site: <a
                                            href="https://www.instagram.com/flucas_85?igsh=c3JjZGx0eHh3M2Rk&utm_source=qr"
                                            target="_blank" class="fw-lighter text-decoration-none
                                         link-dark"> Instagram</a>
                                    </li>
                                    <li class="list-group-item">
                                        Trabalho: <a href="https://embraer.com/" target="_blank"
                                            class="fw-lighter text-decoration-none link dark">
                                            Embraer</a>
                                    </li>
                                    <li class="list-group-item">
                                        Experiência: <span class="fw-lighter"> +12 anos</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <p>
                            I have worked with SAP for 10 years, during this period I acquired knowledge and practice in
                            the
                            methodologies and practices of SAP processes, I am currently working in the QM module, and I
                            develop QM modules.
                            I make myself available for FreeLance services and consultancy, architectural drawings,
                            technical specifications and process and development consultancy.
                        </p>
                    </div>




                </div>
        </section>
        <section id="habilidades" class="mt-5 section-bg">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>
                    Em todo tempo como profissional de TI, eu adquiri algumas Habilidades técnicas e não técnicas,
                    a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito suprir em
                    cada Item.
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">SQL Server:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Oracle:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Python:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 65%">65%</div>
                        </div>
                        <p class="mt-3 mb-0">Git Hub:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 40%">40%</div>
                        </div>

                        <p class="mt-3 mb-0">HTML:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%">30%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS - Responsivo:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%">30%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">SAP ABAP:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">SAP BTP:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 15%">15%</div>
                        </div>
                        <p class="mt-3 mb-0">Integradores PI / OFM:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 68%">68%</div>
                        </div>
                        <p class="mt-3 mb-0">Funcional QM:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 97%">97%</div>
                        </div>
                        <p class="mt-3 mb-0">Gestão de Controle:</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 97%">97%</div>
                        </div>
                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mt-3 mb-0">Trabalho em Equipe:</p>
                            <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 95%">95%</div>
                            </div>
                            <p class="mt-3 mb-0">Senso de Prioridade:</p>
                            <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 98%">98%</div>
                            </div>
                            <p class="mt-3 mb-0">Proatividade:</p>
                            <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 80%">80%</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="mt-3 mb-0">Comunicação:</p>
                            <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 98%">98%</div>
                            </div>
                            <p class="mt-3 mb-0">Empatia:</p>
                            <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                                aria-valuenow="87" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 87%">87%</div>
                            </div>
                            <p class="mt-3 mb-0">Comprometimento:</p>
                            <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 98%">98%</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section id="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Curriculo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Gestão de Tecnologia da Informação</h4>
                            <h5>fev/2022 - Até o momento</h5>
                            <p><em>Estácio</em></p>
                            <p>Aplicação de Gestão de Tecnologia em TI com administração de sistemas, orientados a
                                objetos, gestão de custos,
                                projetos e interfaces com clientes, a parte técnica intimamente ligada com
                                desenvolvimento Python, banco de dados e
                                integrações, conhecimentos em gestão de tempo, projetos e metódologias de projetos,
                                cobit e Itil.
                            </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>SAP ABAP</h4>
                            <h5>ago/2021 - set/2021</h5>
                            <p><em>Ka Solution</em></p>
                            <p>Desenvolvimento de programas, exist, funções badi, tabelas e estruturas em SAP.
                                Programação orientada a objetos com enfâse em soluções de problema, Debug e analise de
                                requisitos.
                            </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Programação C#</h4>
                            <h5>jan/2020 - jan/2022</h5>
                            <p><em>Udemy</em></p>
                            <p>Programação Orientada a Objetos, conceitos de Herança, polimorfismo, lógica de
                                programação,
                                estruturas e conceitos do C#, projeto final em Asp net MVC Core.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Analista de Sistemas Sênior</h4>
                            <h5>Ago/2022 - Dias Atuais</h5>
                            <p><em>Embraer</em></p>
                            <p>Assigned responsibilities for maintaining and controlling business areas, ensuring system
                                integrity,
                                availability, demand analysis, cost estimates, system architectures, SAP and non-SAP
                                systems spec,
                                OFM and PI integrators, support for C# systems platforms , Python, WEB,
                                Java and the entire business process, with and without SAP interface</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Lider de solução</h4>
                            <h5>Ago/2012 - Ago/2022</h5>
                            <p><em>Embraer</em></p>
                            <p>Support to all Embraer units (USA, FR, CH,SIN)project support and support for SAP and
                                Non-SAP Corporate Quality system, Solution Leader and Systems Architecture, Specs
                                development and
                                systems implementation. support Nom SAP system's database oracle and revision system,
                                implemented,
                                commit GIT, deployment application asp net, Oracle.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Analista de Campo - Field Service</h4>
                            <h5>Fev/2011 - Ago/2012</h5>
                            <p><em>Sonda Procwork</em></p>
                            <p>Suporte em campo para manutenção, montagem e configuração de campo, atendimento a área de
                                itens criticos,
                                dentro do prazo de SLA acordada.
                                Instalação e configuração de Pc's e notebook no requisito empresarial.
                            </p>
                        </div>
                    </div>

                </div>




            </div>

        </section>
        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portfólio Top 5</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/embxBoeing.jpg" class="card-img-top" alt="10rem">
                                        <div class="card-body">
                                            <h5 class="card-title">Carve-out</h5>
                                            <p class="card-text">Separar estratégicamente unidades de negocio, e os
                                                processos empresárias.
                                                Responsábilidades Atribuidas: Garantir os processos de negocios, mesmo
                                                com unidades separadas,
                                                responsável por sistemas Não SAP, integrações com SAP. aplicar e
                                                documentar metodologias práticas e Ágeis
                                            </p>
                                            <div class="d-flez justify-content-center">
                                                <a href="#" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/embxSaab.jpg" class="card-img-top" alt="10rem">
                                        <div class="card-body">
                                            <h5 class="card-title">Integração entre Sistemas Brasil x Suécia</h5>
                                            <p class="card-text">Integrar Embraer Brasil com Saab da Suécia, garantindo
                                                a segurança da informação trefegada, desenhar,
                                                estruturar arquitetura de sistema que garanta a funcionalidade do
                                                processo de não conformidade, dentro do SAP, enviando disposições e
                                                informações para tomada de decisão da Saab, arquitetura desenvolvida em
                                                Java e configuração de aplicação em infra estruturas.
                                            </p>
                                            <div class="d-flez justify-content-center">
                                                <a href="#" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/sap upgrade.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Upgrade SAP</h5>
                                            <p class="card-text">Upgrade Versão SAP 4.7 para 6.0, garantira que todos os
                                                processos do módulo de QM do SAP,
                                                seja migrado com sucesso para a versão 6.0 Hanna do SAP, analisar,
                                                especificar e gerar testes unitários e participar dos testes
                                                integrados, orientando usuários nas mudanças ocorridas do sistema.
                                            </p>
                                            <div class="d-flez justify-content-center">
                                                <a href="#" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>                           
                        </div>
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/python.png" class="card-img-top" alt="10rem">
                                        <div class="card-body">
                                            <h5 class="card-title">Python</h5>
                                            <p class="card-text">Criar, especificar, homologar sites em Python.
                                                Projeto de portfólio inteiramente criado por conta própria.
                                            </p>
                                            <div class="d-flez justify-content-center">
                                                <a href="#" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/primavera oracle.jpg" class="card-img-top" alt="1rem">
                                        <div class="card-body">
                                            <h5 class="card-title">Primavera Oracle</h5>
                                            <p class="card-text">Implementar em unidade de fabricação de aeronaves, sistema Oracle Primavera,
                                                responsábilidade inclusa em gerir, administrar e arquiteturar a parte de infra para implementação do software.
                                                garantir disponibilidade e teste integrado, cenários de teste e suporte após Go Live.
                                            </p>
                                            <div class="d-flez justify-content-center">
                                                <a href="#" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
        </section>
        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>
                <div class="row">
                    <div class="col-md-5" data-anime="up">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização</h4>
                                <p>Taubaté - SP</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> E-Mail</h4>
                                <p>fernandolucas.kobata@gmail.com</p>
                            </div>
                            <iframe class="w-100"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.569612219334!2d-45.604930724986495!3d-23.039569642629438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc562a3c579357%3A0x165c5faefe179c3d!2sPr.%20Jose%20Luiz%20da%20Costa%20Ferreira%20-%20Quiririm%2C%20Taubat%C3%A9%20-%20SP%2C%2012043-000!5e0!3m2!1spt-BR!2sbr!4v1713319716551!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">
                           <p></p>
                        </div>
                    </div>

                </div>

            </div>

        </section>
    </main>

    <script src="../static/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>